/* This css file styles the hero section and cards of the home page  */


/* HERO SECTION START */
body,html{
    height: 100%;
    margin: 0;
    padding: 0;
    background: #f1f1f1;
    font-family: sans-serif;
}

.hero1-image{
    position: relative;
    height: 500px;
    overflow: hidden;
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('https://www.aston.ac.uk/sites/default/files/styles/ui_card_image_800x600/public/2021-01/aston-ssh-society-matters-podcast-undergraduate-ui-card.jpg?itok=Emu2vcVb') no-repeat center;


    background-size: cover;
}
.container-hero{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
    text-align: center;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
}
.container h1{
    font-size: 72px;
    letter-spacing: 0.2em;
    margin: 0;
}

.container h1 span{
    border: 10px solid white;
    padding: 6px 14px;
    display: inline-block;
}

.des{
    margin: 20px;
    display: block;
    font-size: 26px;
    text-shadow: 0 0 10px black;
}

.btn.hero {
    /* Positioning and sizing */
    display: block;
    width: 200px;
    
    /* Padding and margins */
    padding: 1em;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    
    /* Text styles */
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    
    /* Border styles */
    border: 3px solid white;
    border-radius: 20px;
    
    /* Background styles */
    background-color: rgba(147, 112, 219, 0.8);
}

.btn.hero:hover{
    opacity: 0.4;
}
.hero h1 {
    /* Text styles */
    font-size: 5em;
    
    /* Margins */
    margin-top: 0;
    margin-bottom: 0.5em;
}

/* HERO SECTION END */

.card-title.benefits{
    text-decoration: underline;
    text-align: center;
    text-transform: capitalize;
}
.card-text.benefits{
    text-align: center;
    text-transform: capitalize;
}

/* INFO START  */
.description-container{
    max-width: 800px;
    margin: 40px auto 20px;
}

.description-container p{
    text-align: center;
}
.description-container .floating-image{
    max-width: 400px;
}

.description-container .floating-image.right{
    float: right;
    margin-left: 35px;
    margin-bottom: 10px;
}

.description-container .floating-image.left{
    float: left;
    margin-right: 35px;
    margin-bottom: 10px;
}
.description-container h3{
    text-decoration: underline;
    text-transform: capitalize;
    text-align: center;
}

/* INFO END  */

/* testimonials  */


.home-testimonial{background-color: #231834;height: 380px}.home-testimonial-bottom{background-color: #f8f8f8;transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top: 20px;margin-bottom: 0px;position: relative;height: 130px;top: 190px}.home-testimonial h3{color: var(--orange);font-size: 14px;font-weight: 500;text-transform: uppercase}.home-testimonial h2{color: white;font-size: 28px;font-weight: 700}.testimonial-inner{position: relative;top: -174px}.testimonial-pos{position: relative;top: 24px}.testimonial-inner .tour-desc{border-radius: 5px;padding: 40px}.color-grey-3{font-family: "Montserrat", Sans-serif;font-size: 14px;color: #6c83a2}.testimonial-inner img.tm-people{width: 60px;height: 60px;-webkit-border-radius: 50%;border-radius: 50%;-o-object-fit: cover;object-fit: cover;max-width: none}.link-name{font-family: "Montserrat", Sans-serif;font-size: 14px;color: #6c83a2}.link-position{font-family: "Montserrat", Sans-serif;font-size: 12px;color: #6c83a2}

/* testimonails  */

/* CARDS START  */


/* CARDS END  */

